.Container__contact{
    height: 100vh;
   
}
.Contact__formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input__value{
    width: 300px;
    color: white;
  padding: 10px;
 background: transparent;
  font-size: 16px;
  border-bottom: 10px solid white;
  margin-bottom: 20px;
border: none;
}
.input__badycontant{
    width: 300px;
    height: 150px;
    color: white;
  padding: 10px;
 background: transparent;
  font-size: 16px;
  border-bottom: 10px solid white;
  margin-bottom: 20px;
border: none;
}
.Contact__Button{
    color: white;
    background-color:  #F02E0C;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-top: 20px;

}
.Contact__heading{
    margin-top: 30px;
}
.instagram__footer{
   border-radius: 50%;
   object-fit: cover;
   
}
.Contact__footer{
    display: flex;
    justify-content: center;
}
